* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-style: normal;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	border:none;
	outline: none;
}

nav.navbar {
	width: 100%;
	height: 74px;
	background-color: #FFF;
	padding-top: 11px
}
.header-navbar-right, ul.navbar-right li:last-child{
	display: none;
}

.navbar-right {
	list-style: none;
}
nav.navbar .my-close {
	display: none;
}
.top-screen {
	background:url(../img/image2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 74px;
	 
}
.overlay {
	background:#35353591;
	width: 100%;
	height: calc(507px + 74px);
}
.top-screen__left-part h1{
	  font-size: 40px;
	  font-weight: 700;
	  line-height: 46px;
	  color: #FFF;
	  min-width: 570px;
	  margin-top:125px;
}
.top-screen__left-part p {
	font-size: 18px;
	line-height: 24px;
	color: white;
	margin-bottom: 33px;
}

.top-screen__left-part input {
	width: 217px;
	height: 51px;	
	box-shadow: inset 2px 2px 6px rgba(90, 90, 90, 0.65);
	padding-left: 20px;
} 
.top-screen__left-part button {
	width: 214px;
	height: 51px;
	background: #D51522;
	box-shadow: 0px 2px 8px rgba(65, 65, 65, 0.25);
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 17px;
}
	
/*MAIN-SCREEN  MAIN-SCREEN  MAIN-SCREEN  MAIN-SCREEN  MAIN-SCREEN  MAIN-SCREEN  */
.main-screen {
	margin-top:84px;
	margin-bottom: 61px;
}
.main-screen h2 {
	font-weight: bold;
	font-size: 34px;
	line-height: 39px;
	text-align: center;
	color: #2B2B2B;
	margin:0;
	margin-bottom: 48px;
}

/*SLIDER*/
.slider-container {
	padding: 14px;
}
.owl-prev {
	top: 0!important;
	left: 0!important;
	width: 349px;
	height: 234px;
	background-color: #D51522;
	z-index: -1;
 	opacity: 1!important;
}
.owl-next {
	top:unset!important;
	bottom: 0px!important;
	right: 14px!important;
	width: 349px;
	height: 234px;
	background-color: #6F61A0;
	z-index: -1;
 	opacity: 1!important;
}
.owl-controls .owl-page.active span {
	background: #D51522;
}
.owl-controls.clickable{
	height: 0px;
}

.slider-item {
	width: 349px;
	/*margin:0 16px;*/
	height: 243px;
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	position: relative;
	padding: 34px 27px;
}
.news-date {
	position: absolute;
	top: 34px;
	left:27px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #636363;
}
.slider-item h3{
	position:absolute;
	top: 61px;
	left:27px;
	margin:0;
	max-width: 295px;
	max-height: 90px;
	overflow: hidden;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #2B2B2B;
}
.news-button {
	position: absolute;
	bottom: 34px;
	left: 27px;
	width: 156px;
	height: 44px;
	margin:0 auto;
	border: 1px solid #D51522;
	font-size: 14px;
	line-height: 16px;
	text-align: center;	
	color: #D51522;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-button:hover, .news-button:hover a {
	background: #D51522;
	color: white;
}
.news-button a {
	color: #D51522;
}
.news-button a:hover, .news-button a:focus {
	text-decoration: none;
	color: white;
}
.owl-wrapper-outer {
	border: none!important;
	box-shadow: none!important;
	background-color: #fff;
	max-width: 1091px;
}
/*FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  */

footer {
	width: 100%;
	
	background: #211F2B;	
}

footer .container {
	position: relative;
	min-height: 163px;
	display: flex;
	align-items: center;
}

footer .logo {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.footer-menu {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*transform: translateY(-50%);*/
}

.footer-menu li{
	list-style: none;
	margin: 5px 16px;
	
}

.footer-menu li a {
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
}

.footer-menu li a:focus,
.footer-menu li a:hover {
	color: #d51522;
}


/*MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  MEDIA  */

@media (max-width:767px) {
	button.navbar-toggle {
		float: unset;
		margin: 0 17px;	
		border: none;
	}

	.navbar-toggle .icon-bar {
		width: 48px;
		height: 6px;
		background-color:#D51522!important;
	}

	.navbar-toggle .icon-bar+.icon-bar {
	    margin-top: 7px;
	}

	.navbar-header img {
		margin-top: -19px;
	}
	.header-navbar-right{
		display: block;
		float: right;
		margin-right: 17px;
		margin-top: 8px;
	}
	.nav-header-phone {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		text-align: right;
		color: #2B2B2B;
	}
	.nav-header-city {
		line-height: 16px;
	text-align: right;
	color: #2B2B2B;
	}
	.collapse.in, .collapsing {
		background-color:#211F2A;
    	margin: 0;
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 60px;
    	bottom: 0;
    	z-index: 2222;
    	max-height: 100%;
    	box-shadow: 0px 5px 16px rgba(90, 90, 90, 0.25);

	}
	.collapsing {
		margin: 0;
	}
	.collapse.in .navbar-right {
		margin-left: 0;
		margin-top: 48px!important;
		padding-top: 36px;
		background-color: unset!important;
		position: relative;
	}
	.collapse.in .navbar-right li>p, .collapse.in .navbar-right li>pre  {
		position: absolute;
	}
	.collapse.in .navbar-right li:nth-child(2){
		display: none;
	}
	.collapse.in .navbar-right li:first-child p{
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #FFFFFF;
		top: 45px;
	}
	.collapse.in .navbar-nav {
		background-color:white;
		margin-top: 0;
		padding-bottom: 58px;
	}
	.collapse.in .navbar-nav a{
		font-size: 18px;
		line-height: 21px;
		color: #2B2B2B;
	}
	nav.navbar .my-close {
		display: block;
		width: 22px;
		height: 22px;
		color: #D51522;
		cursor: pointer;
		margin-bottom:33px;
		margin-top: 24px;
		margin-left: 17px;
	}
	ul.navbar-right li:last-child {
		display: block;
	}
	ul.navbar-right li:last-child pre{
		font-family: Ubuntu;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
		border:none;
		background: none;
		top: 0;
		margin: 0;
		padding: 0;
	}

	.footer-menu {
		width: unset;
	    flex-direction: column;
	    margin: 0 auto;
	    justify-content: center;
	    align-items: center;
	}
	
	.top-screen__left-part h1 {
		min-width: unset;
		font-size: 30px;
	}
	.top-screen__left-part p {
		font-size: 16px;
	}
	.top-screen__left-part input {
		margin: 10px;
	}
	.top-screen__left-part button {
		margin: 10px;
	}
}

@media (max-width: 1000px) {
	.owl-next {
		right: 0px!important;
	}

	.owl-next, .owl-prev {
		width: 320px;
	}
}
